body {
  background-color: hsl(214, 100%, 90%);
}

a {
  text-decoration: none;
  color: hsl(240, 64%, 27%);
}

.UNIlogo {
   position: absolute;
}

#logopic {
  display: block;
  width: 80px;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  border: 1px solid black;
}

.nav {
display: grid;
grid-template: 1fr 1fr 1fr / 100%;
grid-row-gap: 20px;
grid-template-areas: "What"
                     "Measure"
                     "Map";
justify-content: center;
justify-items: center;
align-items: center;
align-content: center;
width: 500px;
margin-right: auto;
margin-left: auto;
}

.item {
  width: 300px;
  text-align: center;
  font-family: sans-serif;
  padding: 30px 15px;
  border: thick solid hsl(272, 34%, 40%);
  font-size: 20px;
  background-color: white;
}

.what {
grid-area: 1 / 1 / 2 / span 1;
}

.measure {
grid-area: 2 / 1 / 3 / span 1;
}

.map {
grid-area: 3 / 1 / 4 / 2;
}

.header {
  width: 300px;
  position: relative;
  left: 50%;
  margin-left: -150px;
  text-align: center;
  color: hsl(270, 83%, 18%);
}
/*This is for the welcome message*/
.welcome {
  width: 800px;
  position: relative;
  left: 50%;
  margin-left: -400px;
  text-align: center;
  color: hsl(270, 83%, 18%);
}
