* {
  box-sizing: border-box;
}

body {
  background-color: hsl(214, 100%, 90%);
}

a {
  text-decoration: none;
  color: hsl(240, 64%, 27%);
}

h2,
h3 {
  color: hsl(240, 64%, 27%);
}

#logopic {
width: 160px;
height: 150px;
}

.name0 {
position: fixed;
padding: 0;
margin: 0;
width: 100px;
text-align: center;
font-size: 15px;
font-weight: bold;
font-family: serif;
color: hsl(270, 83%, 18%);
}

.pic {
position: fixed;
left: 90px;
border: 1px solid black;
}

.nav {
  display: grid;
  grid-template: 1fr 1fr 1fr / 100%;
  grid-template-areas: "Home"
                       "What"
                       "Measure"
                       "Map";
  justify-content: left;
  align-items: start;
  align-content: start;
  border: black solid;
  border-radius: 5px;
  width: 255px;
  margin-top: 150px;
  position: fixed;
  background-color: white;
  height: 350px;
}

.item {
  width: 250px;
  text-align: center;
  font-family: sans-serif;
  padding: 28px 10px;
  border-top: none;
}

.home {
  border-bottom: solid black;
  grid-area: "Home";
}

.what {
  border-bottom: solid black;
  grid-area: "What";
}

.measure {
  border-bottom: solid black;
  grid-area: "Measure";
}

.map {
  grid-area: "Map";
}

h1 {
  font-family: /* COMBAK:  */;
  font-weight: bold;
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 40px;
  width: 600px;
  text-align: center;
  color: hsl(270, 83%, 18%);
  display: block;
  margin-left: 260px;
}

/* .map_grid {
  display: grid;
  grid-template: 100% / 3fr 1fr 7fr;
  position: relative;
  top: 150px;
  left: 270px;
  width: 900px;
  height: 800px;
  font-family: sans-serif;
  justify-content: space-between;
  align-items: start;
}

.maps_list {
  text-align: center;
  background-color: white;
  align-self: center;
  grid-area: 1 / 1 / 2 / 2;
  border: solid black 2px;

}

.maps_link {
  text-transform: uppercase;
  color: #B81029;
  font-weight: bold;
}

.key_image {
  grid-area: 1 / 2 / 2 / 3;
  border-top: solid black 2px;
  border-left: solid black 2px;
  border-bottom: solid black 2px;
  background-color: white;
}

.map_image {
  grid-area: 1 / 3 / 2 / 4;
  border: solid black 2px;
} */

.map_frame {
  display: grid;
  width: 750px;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-template: 95% 5% / 100%;
  position: absolute;
  left: 300px;
  top: 80px;
  font-family: sans-serif;
}

.qgisframe {
  text-align: center;
  grid-area: 1 / 1 / 2 / 2;
  border: black 2px solid;
}

.explanation {
  grid-area: 2 / 1 / 3 / 2;
}
