* {
  box-sizing: border-box;
}

body {
  background-color: hsl(214, 100%, 90%);
}

a {
  color: hsl(240, 64%, 27%);
}

#logopic1 {
  position: fixed;
  width: 80px;
  height: 75px;
  left: 350px;
  top: 0px;
}

#logopic2 {
  position: fixed;
  width: 80px;
  height: 75px;
  left: 760px;
  top: -1px;
}

.header {
  width: 300px;
  position: relative;
  left: 50%;
  margin-left: -150px;
  text-align: center;
  color: hsl(270, 83%, 18%);
}

table {
  border: solid black 1px;
  width: 800px;
  margin-left: -400px;
  position: relative;
  left: 50%;
  font-family: sans-serif;
  background-color: white;
}

.question {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}

.rate {
  padding-top: 20px;
}

.answer {
  padding-right: 50px;
  padding-bottom: 20px;
}

.Home {
  position: relative;
  width: 200px;
  left: 800px;
  font-family: sans-serif;
}
